POSTGRES_DB=biz_analytics
POSTGRES_USER=biz_user
POSTGRES_PASSWORD=replace_with_postgres_password

JWT_ISSUER=BizAnalytics
JWT_AUDIENCE=BizAnalytics
JWT_KEY=replace_with_a_long_random_secret_key

FMP_BASE_URL=https://financialmodelingprep.com
FMP_API_KEY=replace_with_fmp_api_key

ALPHA_VANTAGE_BASE_URL=https://www.alphavantage.co
ALPHA_VANTAGE_API_KEY=replace_with_alpha_vantage_api_key

KGD_REGISTRY_MODE=demo
KGD_PORTAL_BASE_URL=https://portal.kgd.gov.kz
KGD_PORTAL_TOKEN=replace_with_kgd_portal_token_if_using_live_mode

APP_PORT=80
